.Navbar,
.Navbar > * {
    transition: all 0.5s ease;
}

.Navbar {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    height: 100px;
    position: sticky;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5),
        0px 5px 20px rgba(24, 107, 108, 1);
}

.Navbar-wide,
.Navbar-toggle {
    height: 100%;
}

.Navbar-wide {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-links > *,
.nav-toggle-links > * {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.nav-links {
    margin-right: 5rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.logo {
    padding: 0 0 10px 20px;
    cursor: pointer;
}

.nav-toggle-logo {
    position: absolute;
    top: 11px;
    left: 20px;
    cursor: pointer;
}

.nav-toggle-menu {
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
}

.nav-toggle-menu button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.nav-toggle-links {
    display: none;
}

.logo:hover,
.nav-toggle-logo:hover,
.nav-toggle-menu > button:hover,
.nav-links > *:hover,
.nav-toggle-links > *:hover {
    color: rgba(24, 107, 108, 1);
    transition: all 0.5s ease;
}

@media only screen and (max-width: 600px) {
    .Navbar-wide {
        display: none;
    }

    .Navbar-toggle {
        display: flex;
    }

    #show {
        height: calc(100vh - 100px);
    }

    #show .nav-toggle-links {
        /* background: red; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 50px;

        height: 50%;
        padding-right: 20px;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 600px) {
    .Navbar-wide {
        display: flex;
    }

    .Navbar-toggle {
        display: none;
    }
}
